@font-face {
    font-family: 'Cairo';
    src: url('Cairo-Bold.eot');
    src: url('Cairo-Bold.eot?#iefix') format('embedded-opentype'),
        url('Cairo-Bold.woff2') format('woff2'),
        url('Cairo-Bold.woff') format('woff'),
        url('Cairo-Bold.ttf') format('truetype'),
        url('Cairo-Bold.svg#Cairo-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cairo';
    src: url('Cairo-Medium.eot');
    src: url('Cairo-Medium.eot?#iefix') format('embedded-opentype'),
        url('Cairo-Medium.woff2') format('woff2'),
        url('Cairo-Medium.woff') format('woff'),
        url('Cairo-Medium.ttf') format('truetype'),
        url('Cairo-Medium.svg#Cairo-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cairo';
    src: url('Cairo-Light.eot');
    src: url('Cairo-Light.eot?#iefix') format('embedded-opentype'),
        url('Cairo-Light.woff2') format('woff2'),
        url('Cairo-Light.woff') format('woff'),
        url('Cairo-Light.ttf') format('truetype'),
        url('Cairo-Light.svg#Cairo-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

