
:root {
    --main-color: #0CB018;
    --secondary-color: #CEDFD0;
    --white-color: #ffffff;
    --font-bold: 'Cairo-Bold';
    --font-light: 'Cairo-Bold';
  }

@font-face {
    font-family:'Cairo-Bold';
    src: url('../fonts/bold/Cairo-Bold.eot');
    src: url('../fonts/bold/Cairo-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bold/Cairo-Bold.woff2') format('woff2'),
        url('../fonts/bold/Cairo-Bold.woff') format('woff'),
        url('../fonts/bold/Cairo-Bold.ttf') format('truetype'),
        url('../fonts/bold/Cairo-Bold.svg#Cairo-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Cairo-Light';
    src: url('../fonts/light/Cairo-Light.eot');
    src: url('../fonts/light/Cairo-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/light/Cairo-Light.woff2') format('woff2'),
        url('../fonts/light/Cairo-Light.woff') format('woff'),
        url('../fonts/light/Cairo-Light.ttf') format('truetype'),
        url('../fonts/light/Cairo-Light.svg#Cairo-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Cairo-Medium';
    src: url('../fonts/medium/Cairo-Medium.eot');
    src: url('../fonts/medium/Cairo-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/medium/Cairo-Medium.woff2') format('woff2'),
        url('../fonts/medium/Cairo-Medium.woff') format('woff'),
        url('../fonts/medium/Cairo-Medium.ttf') format('truetype'),
        url('../fonts/medium/Cairo-Medium.svg#Cairo-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}



body {
    overflow-x:hidden;
    font-family: 'Cairo-Light', 'serif';
    color: #272729;
    font-size: 18px;
    line-height: 1.5;
    min-height: 100%;
    height: 100%;
    color: var(--main-color);
}


a {
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear; 
}
h1,
h2,
h3,
h4,
h5,
h6 {
    
    font-family: 'Cairo-Bold', 'serif';
}
/* =============================================================================
   Links
   ========================================================================== */

/*
 * Addresses outline displayed oddly in Chrome
 * And text-decoration none for all browsers
 */

a:focus {
    outline: 0;
    text-decoration: none;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 */

a:hover,
a:active {
    outline: 0;
    text-decoration: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */ 
  opacity: 1; /* Firefox */
}

/*
	main clases
*/

.btn-primary{
    background:var(--main-color);
    color: var(--white-color);
    border-color: var(--main-color);
    height: 41px;
    width: 147px;
    transition: 0.4s;
    font-family: "Cairo-Medium";
} 
.btn-primary:hover{
    opacity: 0.9;
    background:var(--main-color);
    color: var(--white-color);
    border-color: var(--main-color);
    border-color: var(--main-color);
    transition: 0.4s;
}

.grid{
    display:grid;
}

.status-code{
    font-size: 200px;
    font-family: 'Cairo-Bold';
    display: grid;
    place-items: center;
    height: 100%; 
}

.status-code.img-505 img{
    width: 619px;
    height: 619px;
    position: relative;
    right: -170px;
}


.status-code.img-404 img{
    width: 389px;
    position: relative;
    right: -170px;
}

.container .rowh-100 , .flex-container .rowh-100 {
    height: 100vh;
}
.flex-container{
    display:flex;
    flex-direction:row;
    position: relative;
}
.left {
    margin-right:auto;
}

.flex-container .rowh-100{
    margin-top: auto;
}
.connection{
    display: flex;
    position: relative;
}
.connection__status{
    position: absolute;
    font-size:2.7rem;
    font-family: 'Cairo-Bold';
    left: calc( 38% - 15px );
}
.flex-container .rowh-100{
    height: 100vh;
}

.content > h1{
    font-size: 44px;
    margin-bottom: 35px;
}

.bg-item{
    background: url("../img/bg-item.svg") no-repeat right; 
    background-size: 100%;
}


.bg-item-g{
    background: url("../img/Mask-.svg") no-repeat right 0; 
    background-size: 100%;
}

.bg-9{
    background: #CEDFD0;
    background-size: cover ;
}

.content{
    width:70%;
    padding-right: 138px;
}

.content > p{
    text-align: justify;
    margin-bottom: 24px;
    font-size: 18px;
    font-family: 'Cairo-Light';
}
.custom-btn{
    margin: 50px auto 0;
}
.electric-img{
    padding-right: 38px;
}

@media (max-width: 769px) { 
    .connection > img{
        width: 100%;
    } 
    .connection__status{
        font-size: .8rem;
        margin-top: 15px;
    } 
    .status-code img{
        width: 100%;
    } 
    .content{
        width: 100%;
    }

    .bg-item-g{
        background: #fff;
    }

    .h-100{
        height: auto !important;
    }

    .content{
        padding-top:10px ;
        padding-bottom: 20px; 
        padding-right: 10px;

    }

    .content h1{
        font-size: 24px;
        text-align: center;
        padding-top: 20px;
    }

    .content__btn{
        text-align: center;
    }

    .status-code.img-505 img{
        width: 80%;
        height: 90%;
        right: 0;
    }

    .status-code.img-404 img{
        right: 0;
    }

    .bg-item{
        background: #CEDFD0;
    }
}


@media (max-width: 1024px){
    .bg-item-g {
        background: url(../img/Mask-.svg) no-repeat right 0;
        background-size: 200%;
    } 

    .connection__status{
        font-size: 1.9rem;
        margin-top: 12px;   
    }
    .status-code.img-505 img{
        width: 500px;
        height: 500px;
    }
}

@media (max-width: 922px) { 
    .connection__status{
        font-size: 1.5rem
    }

}

@media (max-width: 576px) { 
    .connection__status{
        font-size: .6rem
    }
     .status-code.img-505 img{
        width: 100%;
        height: auto;
    }
    .status-code.img-404 img{
        width: 100%;
        height: auto;
    }
}
@media (max-width: 426px) { 
    .connection__status{
        font-size: .8rem
    }


}


